#schedule {
  width: 100%;
  height: 64px;
  display: flex;
  border-bottom: 1px solid #1d1d1d;
  overflow-y: hidden;
}

#schedule > div {
  display: flex;
}

#matches {
  color: white;
  text-align: center;
  display: flex;
}

#schedule .game {
  width: 32px;
  height: 32px;
  padding: 16px;
  background-color: #6500FF;
}

#matches .match .data {
  height: 64px;
  width: 150px;
  background-color: #101010;
  border-left: 1px solid #1d1d1d;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#matches .match:last-child {
  border-right: 1px solid #1d1d1d;
}

#matches a {
  color: inherit;
  text-decoration: none;
}

.match .teams {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

.match .teams img {
  height: 24px;
  margin: 1px;
  object-fit: contain;
}
.match .teams img:not(.width-free) {
  width: 24px;
}

.match .status {
  font-size: 12px;
  font-weight: bold;
}
.match .status span {
  color: red;
}
.match .tournament {
  font-size: 12px;
  color: #cccccc;
}

.no-matches {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: hsl(0, 0%, 63%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 43%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(0, 0%, 33%);
}
