<div id="calendar">
  <div id="no-matches" *ngIf="total == 0">
    <div>No hay partidos programados</div>
  </div>

  <div id="list" *ngIf="total > 0">
    <div class="match" *ngFor="let match of mergedMatches">
      <div class="header">{{ match.tournament }} - {{ match.title }} </div>
      <div class="content">
        <div class="game">
          <img [src]="'assets/games/' + match.gameSlug + '.png'" alt="Free Fire">
        </div>
        <div class="info" *ngIf="match.type == 'versus'">
          <img [src]="match.teams[0].logo">
          <div><b>{{ match.teams[0].name }}</b></div>
          <div>vs</div>
          <div><b>{{ match.teams[1].name }}</b></div>
          <img [src]="match.teams[1].logo">
        </div>
        <div class="info" *ngIf="match.type == 'ffa'">
          <img [src]="match.tournamentLogo" class="width-free">
        </div>
      </div>
      <div class="date" *ngIf="status(match.timestamp, match.duration) == 1">{{ match.timestamp | date :'medium' }}</div>
      <div class="date" *ngIf="status(match.timestamp, match.duration) == 2"><span>&bull;</span> EN VIVO</div>
    </div>
  </div>
</div>
